
body{
    height: 100vh;
    width:100%;
    font-family: 'Saggoe UI',sans-serif;
    margin:0;
}


/* HEADER AREA */
header{
    height:20% ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #063B5C;
    /* background:linear-gradient(135deg,#F5FAF9,#D9F3F0,#c4def7); */
}
.logo_area{
    width: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.logo_area img{
    width:100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.list_options{
    width:16.7%;
    height:50%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:larger;
    transition: 0.5s;
}


.nav_buttons_area{
     height:100% ;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-right: 3%;

}

#home.active{
    background-color: white;
    border-radius: 10px;
}
.nav_buttons_area a{
    text-decoration: none;
     color: #365B6E;
}
.nav_buttons_area.active{
    color:white
}
.lists_container{
    width:10%;
    height:20%;
    cursor: pointer;
    display: none;
    transition: 0.5s;
    
} 

.list_options.active{
    background-color: white;
    color:#365B6E;
    border-radius: 10px;
}

.list_options:hover{
    background-color: #ddedf546;
    border-radius: 10px;
}
.list_options:hover .lists_container{
    display:block;
    color: #062230;
    }
.lists_container{
    position: absolute;
    top: 15%;
    background-color:rgba(255, 255, 255, 0); 
    z-index: 60;
    
}

.lists_container ul{
    padding: 0;
    margin-top:-13%;
    background-color:white; 
    border-radius:5px;
    border: 1px solid rgba(181, 185, 247, 0.61);
    width:190px;
    


}
.lists_container ul li{
    height: 40px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid rgba(211, 210, 210, 0.61);
    transition: 0.2s;
}
.lists_container ul li:hover{
    color: rgb(9, 9, 51);
    background-color: rgba(217, 218, 217, 0.363);
    border-radius: 5px;  
    z-index: 60;
}
.lists_container ul li:active{
    color: rgb(12, 12, 68);
    background-color: rgba(189, 189, 189, 0.363); 
}
.lists_container a{
    text-decoration: none;
    color: rgb(9, 9, 51);
}
.General_Enquiries{
    height: 4vh;
}

/* HEADING TEXT AREA */
.heading_text{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22pt;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #365B6E;
    color:white;
}
/* CAROUSEL AREA */
.carousel{
    width: 100%;
    height: 60vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    background-image: url(../pics_vids/lay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}
 video{
    width:100%;
    height: 60vh;  
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    top:0
   
}

.mySwiper{
    height: 100%;
    position: relative;
    width: 100%;
 }
 #one{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #365b6e9a; */
    font-family: sans-serif;
 }
.swiper-slide .head{
    font-size: 35pt;
    font-weight: 900;
    color: #26414e;
    -webkit-text-stroke:2px rgb(255, 255, 255);
}
.swiper-slide .content{
    width: 70%;
    height: 30%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: rgb(0, 3, 5);
    font-size: 15pt;
    font-weight: 600;
    color: white;
}
#two{
    width: 70%;
    height:60%;
    background-color: #ffffff;
    font-family: sans-serif;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white
  }
  #two span{
    font-weight: 700;
    font-size: 25pt;
  }
 #Child{
    width:80%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 15pt;
    font-weight: 600;
    background-color: rgb(0, 0, 0);  
    color:white;
    margin-left: 8%;
    padding-left: 2%;
    padding-bottom: 1%;
 }
 #Child p{
    margin: 0;
 }
 #three{
    width: 100%;
    height:100%;
    /* background-color: #ffffff; */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#three .header{
    width:50%;
    height: 25%;
    background-color: white;
    font-size: 25pt;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
#three .lists{
    width:80%;
    height: 30%;
    background-color: rgb(3, 3, 3);
    color:white;
    font-size: 15pt;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.carousel .swiper-pagination{
    position: absolute;
    top: 20%;
}
.carousel .swiper-slide{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev,.swiper-button-next{
    z-index: 100;
    height: 400px;

}

/* WHO WE ARE AREA */
.who_we_are{
    width:100%;
    height:45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 2%;
}
.who_we_are .heading{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#365B6E;
    font-size: 30pt;
    font-weight: 700;
    margin-bottom: 2%;
}
.who_we_are .paragraph{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14pt;
    font-weight: 400;
}
.who_we_are .paragraph p{
    margin: 0;
    padding: 0 5%;
    font-family: sans-serif
}
.separator{
    width: 100%;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.separator div{
    width: 88%;
    height: 70%;
    background-color: #365B6E;   
}

/* GALLERY AREA */
 .gallery{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: red; */
    }
.gallery .first_batch,.second_batch{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.gallery_images{
    width: 32%;
    height: 92%;
    margin: 2px;
    transition: 0.5s;
    position: relative;
}
.gallery_images:hover{
    cursor: pointer;
}
.gallery_images .cover{
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 8px;
}
.gallery_images:hover .cover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.cover nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}
.cover span:hover{
    text-decoration: underline;
}


.gallery_images img{
    width: 100%;
    height: 100%;
    box-shadow: 0.5px 1px 2px 0.5px rgb(2, 2, 2);
    border-radius: 10px;
}


/* GISTS AREA */
 .final_gists{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(92, 91, 91); */
}
.gists_container{
    height: 95%;
    width: 85%;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(201, 36, 36); */
}
 .final_gists .gists{
    height: 95%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background-color: #062230;
}
.final_gists .gists:hover{
    background-color: rgba(255, 255, 255, 0.589);
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #062230;;
    width: 38%; 
 }

.img_gist{
    background-color: white;
}
.gist_heading{
    width: 100%;
    height: 50%;
    font-family: sans-serif;
    font-size: 17pt;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0% 1%;
    color:rgb(3, 107, 148)
}
.gist_content{
    font-family: sans-serif;
    width: 95%;
    height: 50%;
    font-size: 13pt;
    font-weight: 500;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center ;
    padding:0 2%;
    text-wrap: wrap;
}

.final_gists .gists:hover .gist_content{
    color:#062230;
}

/* FOOTER SECTION */
.Footer{
    font-family: sans-serif;
    width: 100%;
    height: 52vh;
    display: flex;
    flex-direction: COLUMN;
    justify-content: center;
    align-items:center ;
     background-color: #062230;
}
.footer_tabs_section_heading{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    font-size: 25pt;
    font-weight: 700;
    color:white;
    padding-top:2%;
}
.footer_tabs_section{
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;

}
.sub_sections{
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}
.sub_sections .first_part{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    }

.sub_section_logo_section{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;   
}
.sub_section_logo_section .sub_section_logo img{
    width: 100%;
    height: 100%;     
}
.slogan{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center ;
    font-weight: 700;
    font-size: 17pt;
    color:white
}
.sub_sections .second_part{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.sub_sections .second_part .follow_us{
     width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ; 
     font-weight: 600;
     color:white;
     text-decoration: underline;    
}
.sub_sections .second_part .follow_us_icons{
     width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
}
.sub_sections .second_part .follow_us_icons .icons_container{
     width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center ;
    color:white
   ;
}
.sub_sections .second_part .follow_us_icons .icons_container img{
     width: 15%;
    height: 50%;
    margin-right: 3%;
}
.copyright_area{
    color:white;
    width: 100%;
    height: 100%;
    text-align: left;
}

/* ANIMATION */

/* Base styles for the element */
.target-box {
  margin: 50px auto;
  border-radius: 8px;
}

/* 1. Initial State: Hidden and shifted down by 50px */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; /* Optimizes browser performance */
}

/* 2. Active State: Swipes up to original position and fades in */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
